* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    


}

.ajust{
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1% 25%;
    



}

body {
background: url('gayimg.png');
background-color: rgb(26, 26, 71);
background-repeat: none;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% -40%;






}

.Itens a {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding-left:150px ;
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
    color:white;




}

.Itens {

    background-color: black;
}

.aside {

float: left;

width: 200px;
height: 700px;
background-color: white;
filter:opacity(30%);


}

.center {

float:left;

width: 560px;
height: 700px;
margin-left:5px ;
margin-right: 5px;

background-color: black;
filter:opacity(80%);




}

.asideright {
    float: left;
    background-color: azure;
width: 200px;
height: 700px;
filter:opacity(50%);

}

.asidefont a {


    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
   
    
    font-size: 20px;
    color:rgb(16, 16, 37);
   font-weight: bold;
}

#titulo {
    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    text-align: center;
   filter: none
   opacity(10%);
    
    font-size: 20px;
    color:rgb(16, 16, 37);
   font-weight: bold;

}

@media screen and (min-width: 768px) {
nav {flex-direction: row;
justify-content: space-around;
}
header, body {
    height: 600px;
    height:60vh;
    justify-content: center;
}




}

.Itens a:hover{

    color:rgb(111, 111, 192);
}

form {

border: 5px solid gray;
border-radius: 2px;
padding:2%;
border-style: groove;

}
 form button {
background: url('sasuke.jpg');
font-size: 50px;
}


h1 {

    text-align: center;


}


.rodape {

    background-color: black;
    width: 100%;
    height: 100px;
    float: left;
}
.rodape p {
    color: white;
    font-size: 20px;
    padding-left: -10%;
    text-align: center;
}


#animes {
color:white;
text-align: center;



}